---
stylesheet: projects.css
layout: default
title: Projects
---

<h1>Main projects</h1>
<p>This are projects were I put alot of time into</p>
<div class="projects-grid">
{% for proj in site.projects %}
	{% if proj.category == "main" %}
		{% include project_small.html project=proj %}
	{% endif %}
{% endfor %}
</div>

<h1>Tiny projects</h1>
<p>This are tiny projects that I finished in less than a week</p>
<div class="projects-grid">
{% for proj in site.projects %}
	{% if proj.category == "tiny" %}
		{% include project_small.html project=proj %}
	{% endif %}
{% endfor %}
</div>

<h1>Old garbage</h1>
<p>This is old garbage</p>
<p>Don't look here</p>
<div class="projects-grid">
{% for proj in site.projects  %}
	{% if proj.category == "garbage" %}
		{% include project_small.html project=proj %}
	{% endif %}
{% endfor %}
</div>

<!-- -5, 21, 68, -49, 16, -46, -18, 43, 37, -2, -22, -71 -->