<footer class="footer">
  

  <div class="link-grid">

	<a href="https://github.com/{{ site.github_username }}" class="round-link">Github: {{ site.github_username }}</a>
	<a href="https://{{ site.itch_username }}.itch.io/" class="round-link">Itch: {{ site.itch_username }}</a>
	<a href="https://twitter.com/{{ site.twitter_username }}" class="round-link">Twitter: @{{ site.twitter_username }}</a>
	<a href="https://discordapp.com/users/{{ site.discord_id }}" class="round-link">Discord: {{ site.discord_username }} </a>
    <a href="https://vrchat.com/home/user/{{ site.vrc_id }}" class="round-link">VRChat: {{ site.vrc_username }}</a>

  </div>

</footer>