<footer class="footer">
  

  <div class="link-grid">

	<a href="https://github.com/{{ site.github_username }}" class="round-link"><img class="footer-icon" src="/assets/img/github_invertocat_dark.svg"><span>{{ site.github_username }}</span></a>
	<a href="https://{{ site.itch_username }}.itch.io/" class="round-link"><img class="footer-icon" src="/assets/img/itchio_textless_dark.svg"><span>{{ site.itch_username }}</span></a>
	<a href="https://twitter.com/{{ site.twitter_username }}" class="round-link"><img class="footer-icon" src="/assets/img/twitter_dark.svg"><span>@{{ site.twitter_username }}</span></a>
	<a href="https://discordapp.com/users/{{ site.discord_id }}" class="round-link">Discord: {{ site.discord_username }} </a>
    <a href="https://vrchat.com/home/user/{{ site.vrc_id }}" class="round-link">VRChat: {{ site.vrc_username }}</a>

  </div>

</footer>