<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="{{ site.title }}" />
	<meta name="description" content="{{ site.description }}">
	<meta property="og:description" content="{{ site.description }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ site.url }}" />
	<meta property="og:image" content="{{ site.url }}/assets/img/thumb.png" />
	<meta name="theme-color" content="#FFBBFF">

	<!-- Include this to make the og:image larger -->
	<meta name="twitter:card" content="summary_large_image">
	
	<title>{{site.title}} | {{page.title}}</title>
	
	<!--stylesheets-->
	<link rel="stylesheet" href="/assets/css/main.css">
	{%- if page.stylesheet -%}
	<link rel="stylesheet" href="/assets/css/{{page.stylesheet}}">
	{%- endif -%}
	
	<!--scripts-->
	{%- if page.script -%}
	<script src="/assets/js/{{page.script}}"></script>
	{%- endif -%}
</head>
