@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html{
	height: 100%;
}

.darkmode{
	background: black;
}

body{
    margin: 0px;
    font-family: Roboto Mono;
    
	
	background: linear-gradient(50deg, #000000, #000000, #000000, #370c37);
	background-repeat: no-repeat;
	background-size: 100% 10000px;
    min-height: 100%;
	
    display: flex;
	position: relative;
    flex-direction: column;

    color: var(--secondary);

    --black: #1a1a1a;
    --gray: #555555;
    --dark-gray: #333333;
    --secondary: #FFFFFF;

    --primary: #FFBBFF;
    --transparent-primary: #FFBBFF90;
	
	
}

.header
{
    border-bottom: solid var(--primary) 2px;

    display: flex;
    flex-direction: row;

    box-shadow: 0 0px 5px var(--primary);
}

.footer{
    padding: 10px;
    border-top: solid var(--primary) 2px;
    margin-top: auto;

     box-shadow: 0 0px 5px var(--primary);
}
.footer-icon{
	padding-right: 5px;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
	flex-grow: 1;
}
.navbar > a{
    margin: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#darkmode-button{
	margin: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

li{
	margin-bottom:5px;
}

li::marker{
    font-weight: bold;
    content: "* ";
    color: var(--primary);
	text-shadow: 0 0px 3px var(--primary); 
}




h1::before, h2::before{ 
    font-weight: bold;
    color: var(--primary);
    content: "> ";
	text-shadow: 0 0px 3px var(--primary); 

}

p{
	margin: 2px;
	padding-left: 30px;
	
}
b{
	
	font-weight: bolder;
	text-shadow: 0 0px 3px #FFFFFF; 
}


a{
    color: var(--primary);
	text-shadow: 0 0px 2px var(--primary);
}
a:link{
    text-decoration: none;
}
a:hover{
    cursor:pointer;
    text-decoration: underline;
	text-shadow: 0 0px 7px var(--primary)
}

.main{
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
@media only screen and (min-width: 800px) {
    .main{
        width: 80%;
    }
}

@media only screen and (min-width: 1500px) {
    .main{
        width: 70%;
    }
}


.round-link:hover{
    box-shadow: 0 0px 8px var(--primary);
	cursor: pointer;
	text-decoration: underline;
}

.round-link{
    
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;


    border-radius: 100px;
    background-color: var(--transparent-primary);
    color: var(--secondary);

    border: solid 2px var(--primary);

    box-shadow: 0 0px 3px var(--primary);
}

.navbar-item:hover{
    border: solid 2px var(--secondary);
    

}


.link-grid{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap
}
.link-grid > * {
    margin: 5px;
    align-items: center;
}



