.projects-grid{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
	
}

.platform{
	position: absolute;
	right: 5px;
	top: 5px;
	height: 40px;
	
	padding: 3px;
	background-color: #D090D0;
	border: solid 2px var(--primary);
	border-radius: 10px;
	box-shadow: 0 0px 3px var(--primary);
	
}

.tags{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;

	padding: 6px;
	padding-top: 2px;
	padding-bottom: 0px;

	width: calc(100% - 50px);
	
}

.tag{
	margin: 1px;
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	
	border-radius: 30px;
	color:white;
	text-shadow: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	
	--tag-shadow-size: 5px;
}
.status-tag-red{
	background-color: #E52000;
	border: solid 2px #900000;
	box-shadow: 0 0px var(--tag-shadow-size) #900000;
}
.status-tag-gray{
	background-color: #404040;
	border: solid 2px #202020;
	box-shadow: 0 0px var(--tag-shadow-size) #202020;
}
.status-tag-orange{
	background-color: #ffb070;
	border: solid 2px #FF9800;
	box-shadow: 0 0px var(--tag-shadow-size) #FF9800;
}
.status-tag-green{
	background-color: #008000;
	border: solid 2px #006000;
	box-shadow: 0 0px var(--tag-shadow-size) #006000;
}

.status-tag-blue{
	background-color: rgb(0, 121, 191);
	border: solid 2px #0050b0;
	box-shadow: 0 0px var(--tag-shadow-size) #0050b0;
}
.status-tag-white{
	color: #707070;
	background-color: #ffffff;
	border: solid 2px #505050;
	box-shadow: 0 0px var(--tag-shadow-size) #707070;
}

.project-title{
	display: block;
	font-weight: bold;
	

	margin-top: 10px;
	color: white;
	text-shadow: none;
	text-align: center;
	
	
	
}

.icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.project-icon-link:hover{
	text-decoration: none;
}
.project-icon:hover{
	box-shadow: 0 0px 8px var(--primary);
}

.project-icon{
	position: relative;
	
	background-color: var(--transparent-primary);
	border: solid 2px  var(--primary);
	border-radius: 20px;
	
	box-shadow: 0 0px 3px var(--primary);
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	min-height: 90vw;
	min-width: 90vw;
}

@media only screen and (min-width: 860px) {
	.project-icon{
        min-height: 300px;
		min-width: 300px;
    }
}

.project{
	padding: 5px;
	margin: 10px;
	
}
