.projects-grid{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
	
}

.project > .top > .platform{
	position: absolute;
	right: 5px;
	top: 5px;
	height: 40px;
}

.tags{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;

	padding: 6px;
	padding-top: 2px;
	padding-bottom: 0px;

	width: calc(100% - 50px);
	
}

.tag{
	margin: 1px;
	padding: 1px;
	padding-left: 7px;
	padding-right: 7px;
	
	border-radius: 30px;
	color:white;
	text-shadow: none;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	
}
.status-tag-red{
	background-color: #ff5555;
	border: solid 2px #FF0000;
}
.status-tag-gray{
	background-color: #404040;
	border: solid 2px #202020;
}
.status-tag-orange{
	background-color: #ffb070;
	border: solid 2px #FF9800;
}
.status-tag-green{
	background-color: #30a030;
	border: solid 2px #00cc00;
}

.status-tag-blue{
	background-color: #00b0ff;
	border: solid 2px #0090ff;
}
.status-tag-white{
	background-color: #d0d0d0;
	border: solid 2px #ffffff;
}

.project-title{
	margin: 0px;
	padding: 3px;
	margin-top: 10px;
	color: white;
	text-shadow: none;
	text-align: center;
	
	background-color: var(--transparent-primary);
	border: solid 2px var(--primary);
	border-radius: 20px;
	box-shadow: 0 0px 3px var(--primary);
	
}

.project > .top > .icon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

.project > .top{
	position: relative;
	
	background-color: var(--transparent-primary);
	border: solid 2px  var(--primary);
	border-radius: 20px;
	
	box-shadow: 0 0px 3px var(--primary);
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	min-height: 90vw;
	min-width: 90vw;
}

@media only screen and (min-width: 860px) {
    .project > .top{
        min-height: 300px;
		min-width: 300px;
    }
}

.project{
	padding: 5px;
	margin: 10px;
	text-decoration: none;
	
}
.project:hover{
	text-decoration: none;

	
}
