<!DOCTYPE html>
<html lang="en">

  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="{{ site.description }}" />
	<title>{{ site.title }}</title>
	<meta name="description" content="The server is currently offline.">
	<meta property="og:type" content="website" />

	<link rel="stylesheet" href="{{ site.url }}/css/site.css" />
  
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
  </head>

  <body class="background">

    <main role="main" class="main">
        {{ content }}
    </main>

  </body>

</html>
